#fruits{
    border: 2px solid;
    font-size: 2rem;
}

.myButtons{
    background-color: hsl(205,100%,60%);
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
}