body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#myButton{
    padding: 7px 20px;
    font-size: 3em;
    border-radius: 10px;
}

.myLabels{
    font-size: 2em;
}